# Importing Data

In [28]:
import glob ## importing module

root = '/Users/Rachel Veenstra/Desktop/' ## defining 
dataset_dir = root + '/Coding/introcoding-spring-2019/Datasets' ## defining directory

glob.os.chdir(dataset_dir) # Tells the computer where to go

print(glob.os.getcwd()) # print current working directory

C:\Users\Rachel Veenstra\Desktop\Coding\introcoding-spring-2019\Datasets

In [7]:
import pandas as pd

data = pd.read_csv('tribune_daily_historical.csv')

data.head(5) ## to see pandas dataframe (top 5 rows)

         Date  Tmax  Tmin  Precipitation  Snow
0  01/01/1900    32    13            0.0   0.0
1  02/01/1900    44    14            0.0   0.0
2  03/01/1900    53    28            0.0   0.0
3  04/01/1900    51    24            0.0   0.0
4  05/01/1900    48    24            0.0   0.0

In [9]:
names = pd.read_csv('nobel_physics.txt')
names.head(5)  ## Albert Einstein understood as a header

     Albert Einstein  Unnamed: 1
0  Werner Heisenberg         NaN
1        Marie Curie         NaN
2  Guglielmo Marconi         NaN
3        Peter Higgs         NaN
4       Enrico Fermi         NaN

In [21]:
names2 = pd.read_csv('nobel_physics.txt', header=None)
names2.head(5)
names_list = names2[0]
print(names_list) ## no longer in dataframe

names_x = names2[0].values ## no longer in dataframe
names_x

0              Albert Einstein
1            Werner Heisenberg
2                  Marie Curie
3            Guglielmo Marconi
4                  Peter Higgs
5                 Enrico Fermi
6              Ernest Lawrence
7                   Paul Dirac
8                Lord Rayleigh
9      Antoine Henri Becquerel
10      Wilhelm Conrad Röntgen
11             Hendrik Lorentz
12                  Max Planck
13                  Niels Bohr
14                Gustav Hertz
15           Werner Heisenberg
16           Erwin Schrödinger
17                  Paul Dirac
18                Enrico Fermi
19               Hideki Yukawa
20    Richard Phillips Feynman
Name: 0, dtype: object

array(['Albert Einstein', 'Werner Heisenberg', 'Marie Curie',
       'Guglielmo Marconi', 'Peter Higgs', 'Enrico Fermi',
       'Ernest Lawrence', 'Paul Dirac', 'Lord Rayleigh',
       'Antoine Henri Becquerel', 'Wilhelm Conrad Röntgen',
       'Hendrik Lorentz', 'Max Planck', 'Niels Bohr', 'Gustav Hertz',
       'Werner Heisenberg', 'Erwin Schrödinger', 'Paul Dirac',
       'Enrico Fermi', 'Hideki Yukawa', 'Richard Phillips Feynman'],
      dtype=object)

In [23]:
file = open('nobel_physics.txt')
names_list2 = file.read()  ## low level function due to manual requirements for data manipulation
file.close()

print(names_list2)

Albert Einstein,
Werner Heisenberg,
Marie Curie,
Guglielmo Marconi,
Peter Higgs,
Enrico Fermi,
Ernest Lawrence,
Paul Dirac,
Lord Rayleigh,
Antoine Henri Becquerel,
Wilhelm Conrad RÃ¶ntgen,
Hendrik Lorentz,
Max Planck,
Niels Bohr,
Gustav Hertz,
Werner Heisenberg,
Erwin SchrÃ¶dinger,
Paul Dirac,
Enrico Fermi,
Hideki Yukawa,
Richard Phillips Feynman

In [25]:
names_list3 = open('nobel_physics.txt').read()
print(names_list3)

Albert Einstein,
Werner Heisenberg,
Marie Curie,
Guglielmo Marconi,
Peter Higgs,
Enrico Fermi,
Ernest Lawrence,
Paul Dirac,
Lord Rayleigh,
Antoine Henri Becquerel,
Wilhelm Conrad RÃ¶ntgen,
Hendrik Lorentz,
Max Planck,
Niels Bohr,
Gustav Hertz,
Werner Heisenberg,
Erwin SchrÃ¶dinger,
Paul Dirac,
Enrico Fermi,
Hideki Yukawa,
Richard Phillips Feynman

In [27]:
names_list4 = [line.strip('\n') for line in open('nobel_physics.txt')] ##[] set this as a LIST datatype
print(names_list4)

['Albert Einstein,', 'Werner Heisenberg,', 'Marie Curie,', 'Guglielmo Marconi,', 'Peter Higgs,', 'Enrico Fermi,', 'Ernest Lawrence,', 'Paul Dirac,', 'Lord Rayleigh,', 'Antoine Henri Becquerel,', 'Wilhelm Conrad RÃ¶ntgen,', 'Hendrik Lorentz,', 'Max Planck,', 'Niels Bohr,', 'Gustav Hertz,', 'Werner Heisenberg,', 'Erwin SchrÃ¶dinger,', 'Paul Dirac,', 'Enrico Fermi,', 'Hideki Yukawa,', 'Richard Phillips Feynman']